*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  
.page{
    background-color: #1F1D2B;
    color: white;
    font-family: sans-serif;
}
  
.layout{
    display: grid;
    grid-template-columns: 240px 1fr;
}
  
input{
    padding:4px 10px;
    border:0;
    font-size:16px;
}
  
.sidebar{
    width: 240px;
    height: 100dvh;
    color: #808191;
    padding: 2em;
}
  
.sidebar__logo{
    font-size: 1.25rem;
    padding-top: 1em;
    color: white;
}
  
.button{
    outline: none;
    background: transparent;
    border: 0;
    cursor: pointer;
}
  
.sidebar__list{
    font-weight: 700;
    font-size: 0.875rem;
    margin-top: 1em;
    cursor: pointer;
}
  
.sidebar__insert{
    font-size: 0.687rem;
    text-transform: uppercase;
    margin-top: 4em;
}
  
li{
    list-style-type: none;
    grid-template-columns: 32px 1fr;
    display: grid;
    align-items: center;
    column-gap: 1em;
    margin-bottom: 2em;
}
  
.sidebar__line{
    margin-top: 1em;
}

.content{
    display: grid;
    row-gap: 40px;
    grid-template-rows: 80px 1fr;
}

.header{
    margin-top: 0.8em;
    padding: 2em;
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 40px;
    align-items: center;
}
  
.header__account{
    display: grid;
    align-items: center;
    grid-template-columns: 32px 64px 16px 1fr;
    column-gap: 1em;
    position: relative;
}
  
.header__search{
    position: relative;
    background-color: #363346;
    border-radius: 10px;
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.account__notification{
    position: relative;
    position: absolute;
    top: 0.5em;
    left: 13em;
}

.notification__elypse__red{
    position: absolute;
    top: -4px;
    left: 10px;
}

.discover{
    padding: 2em;
}

.big__cards{
    padding-top: 34px;
}

.card__blue{
    width: 725px;
    height: 366px;
    flex-shrink: 0;
    background-color: #0DAABC;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
}

.cardImage__blue{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.sidebar__bottom{ 
    height: 31px;
    display: flex;
    column-gap: 20px;
}

.while{
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 120% */
    letter-spacing: 0.3px;
    position: absolute;
}

:root{
    --light: #6C5ECF;
    --dark:#FFFF;
    --link: #FFFF;
    --link-hover: #FFFF;
}

.toggle-switch{
    position: relative;
    width: 51px;
}
  
label{
    position: absolute;
    width: 100%;
    height: 31px;
    background-color: var(--light);
    border-radius: 40px;
    cursor: pointer;
}

input{
    position: absolute;
    display: none;
}

.slider{
    position: absolute;
    width: 100%;
    height: 100%; 
    border-radius: 40px;
    transition: 0.3s;
}

input:checked ~ .slider{
    background-color: var(--light);
}

.slider::before{
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--dark);
    transition: 0.3s;
}

  input:checked ~ .slider::before{
    transform: translateX(20px);
    background-color: var(--dark);
    box-shadow: none;
}

.bottom__text{
    font-weight: 400;
    color: #808191;
    height: 14px;
}
.bottom__line{
    color: #808191;
}